<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/707bc7f95b.js" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4SCTJLJHB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

              gtag('config', 'G-Z4SCTJLJHB');
        </script>
    <title>contact us</title>
</head>
<body style="background-color:aliceblue;">
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm">
            <div class="container">
                <a class="p-0 navbar-brand" href="/index/">
                    <img src="{% static 'images/logo1.jpg' %}" alt="logo1" height="25%" width="25%">
                  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item nav-menus expand">
                            <a href="/index/" class="nav-link" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item nav-menus expand">
                            <a href="/rooms/" class="nav-link">Rooms</a>
                        </li>
                        <li class="nav-item nav-menus expand">
                            <a href="/gallery/" class="nav-link">Gallery</a>
                        </li>
                        <li class="nav-item nav-menus expand"><a href="/about/" class="nav-link">About</a></li>
                        <li class="nav-item nav-menus expand"><a href="/contact/" class="nav-link">Contact</a></li>
                        <div class="booking-btn flex-center">
                            <a href="/booking/" class="btn btn-outline-primary">Book Now</a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header> <br>
    <div style="background-image: linear-gradient(135deg, #C4FFC4, #79D9FC);">
        <h1 class="display-1 text-center">Contact us</h1><br>
    </div>
   <br><br>
   <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Contact Number:- 9846756489</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">E-Mail:- vasundara@gmail.com</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning"> Site:- www.vasundararesort.com</a>
  </div>    
</body>
</html>